@import "{{ site.theme }}";

.page-header !important {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, blue, pink);
}

body {
  background-color: blue;
}
